/* Remove padding and margin by default. */
* {
    padding: 0;
    margin: 0;
    border: none;
}

/* Establish style for all die and boxes. */
.space {
    height: 35px;
    width: 35px;
    float: left;
    margin: 3px;
    text-align: center;
    font-size: larger;
    font-weight: 700;
    line-height: 50px;
    background-color: whitesmoke;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    border-width: thin;
}

.empty {
    background: none;
    border: none;
}

.filled {
    background-color: grey;
    border-color: grey;
}

.clear {
    clear: both
}

.background-image {
    width: 845px;
    height: 680px;
    position: absolute;
    z-index: -1;
}

#dice-area {
    margin-left: 15px;
    margin-top: 28px;
}

.shape-picker {
    width: 200px;
    height: 200px;
    float: left;
    box-sizing: border-box;
}

.shape-image {
    width: 200px;
    height: 200px;
}

.shape-unavailable {
    border: 2px solid white;
}

.shape-available {
    border: 2px solid blue;
}
