.shape-container {
    position: relative;
    display: inline-block;
}

.overlay-text {
    position: absolute;
    padding-top: 5px;
    padding-left: 5px;
    font-weight: bold;
}

html{
    font-size: 70%
}

nav {
    padding-bottom: 20px;
}

h2 {
    padding-top: 7px;
}

h3 {
    padding-top: 7px;
}

#tutorial-div {
    width: 80%;
    height: 80%;
    max-width: 800px;
    position: fixed;
    margin-left: 50px;
    padding: 30px;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    z-index: 999999999;
    visibility: visible;
    overflow-y: scroll; 
}

#x-button {
    float: right;
    display: inline;
}

#replay-button {
    margin-top: 10px;
}

.tutorial-image {
    width: 250px;
    float: right;
}

.bone {
    width: 200px;
    padding-bottom: 10px;
}

.ada-face {
    float: inline-end;
    width: 150px;
    margin: 5px;
    border-radius: 5px;
}

.pad-left {
    padding-left: 20px;
}

.surrounded-image {
    width: 125px;
    padding: 10px;
    display: inline;
}

#how-to-play-header {
    padding-top: 30px;
}

#size-warning {
    display: none;
}

#page-default {
    max-width: 1000px;
}

#play-area {
    padding-left: 7px;
    padding-top: 15px;
}

#right-panel {
    padding-top: 7px;
    max-width: 340px;
}

.background-image {
    width: 588px;
    height: 490px;
    position: absolute;
    z-index: -1;
}

.evidence-image {
    width: 28px;
    height: 28px;
    padding: 0px;
    margin-right: 14px;
}

.ability {
    margin-bottom: 7px;
    margin-left: 7px;
}

.ability-set-wrap {
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 4px;
}

.space {
    height: 25px;
    width: 25px;
    float: left;
    margin: 2px;
    text-align: center;
    font-size: larger;
    font-weight: 700;
    line-height: 25px;
    background-color: whitesmoke;
    border-radius: 3px;
    border-color: black;
    border-style: solid;
    border-width: thin;
    padding: 0;
}

.annotations-in-abilities {
    width: auto;
    float: left;
    text-align: center;
    font-size: small;
    font-weight: 700;
    line-height: 25px;
    background-color: white;
    border-style: none;
    margin: 0px;
    padding: 0px;
}

.contains-shape {
    background-color: black;
    border-color: black;
}

.unconfirmed-shape {
    background-color: lightsalmon;
    border-color: lightsalmon;
}

.empty {
    background: none;
    border: none;
}

.filled {
    background-color: grey;
    border-color: grey;
    opacity: 0.3;
}

.clear {
    clear: both;
}

.hidden {
    display: none;
}

#dice-area {
    margin-left: 11px;
    margin-top: 20px;
}

.clicked-die {
    background-color: lightgreen;
}

.used-rolled-dice {
    background-color: black;
    color: rgba(0,0,0,0);
}

.shape-picker {
    width: 88px;
    height: 88px;
    float: left;
    box-sizing: border-box;
    margin: 3px;
}

.shape-image {
    width: 88px;
    height: 88px;
}

.rotate-0 {
    rotate: 0deg;
}

.rotate-90 {
    rotate: 90deg;
}

.rotate-180 {
    rotate: 180deg;
}

.rotate-270 {
    rotate: 270deg;
}

.flip-0 {
    transform: scaleX(1);
}

.flip-1 {
    transform: scaleX(-1);
}

.shape-unavailable {
    border: 2px solid white;
}

.shape-available {
    border: 2px solid blue;
}

.shape-picked {
    border: 2px solid red;
}

.ability-space-active {
    border: 1px solid black;
}

.ability-space-available {
    border: 2px solid blue;
    background-color: lightblue;
}

.ability-space-picked {
    border: 2px solid red;
    background-color: lightsalmon;
}

.ability-space-confirmed {
    border: 2px solid black;
    background-color: grey;
}

#confirm-button {
    position: relative;
    width: 119px;
    z-index: 999;
}

#cancel-button {
    position: relative;
    width: 119px;
    z-index: 9999;
}

#round-tracker {
    position: relative;
    width: 119px;
}

#reserve-dice {
    background-color: aqua;
}

#available-dice {
    background-color: blanchedalmond;
}

#used-dice {
    background-color: lightblue;
}

.right-section {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 3px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}

.inactive-ability div, .inactive-ability img {
    opacity: 0.3;
}

.ability-completed {
    background-color: aqua;
    border-radius: 3px;
    margin-right: 14px;
}

.ability-space {
    height: 25px;
    width: 105px;
    float: left;
    margin: 3px;
    text-align: center;
    font-size: larger;
    font-weight: 700;
    line-height: 25px;
    padding: 0;
}

.wild {
    height: 25px;
    width: 49px;
    float: left;
    margin: 3px;
    text-align: center;
    font-size: larger;
    font-weight: 700;
    line-height: 25px;
    border-radius: 3px;
    border-color: black;
    border-style: solid;
    border-width: thin;
    padding: 0;
}

.wild-space {
    background-color: whitesmoke;
}

.used-wild-space {
    background-color: gray;
}

.active-wild-space {
    background-color: lightgreen;
}

.reroll {
    height: 25px;
    width: 21px;
    float: left;
    margin: 3px;
    text-align: center;
    font-size: larger;
    font-weight: 700;
    line-height: 25px;
    border-radius: 3px;
    border-color: black;
    border-style: solid;
    border-width: thin;
    padding: 0;
}

.reroll-space {
    background-color: whitesmoke;
}

.reroll-space-used {
    background-color: grey;
    color: rgba(0,0,0,0);
}

.ability-piece-1 {
    width: 42px;
    height: 42px;
    margin: auto;
}

.ability-piece-2 {
    width: 42px;
    height: 42px;
    margin: auto;
}

.ability-shape {
    height: 49px;
    width: 49px;
    float: left;
    margin: 3px;
    text-align: center;
    font-size: larger;
    font-weight: 700;
    line-height: 25px;
    border-radius: 3px;
    border-color: black;
    border-style: solid;
    border-width: thin;
    padding: 3px;
}

.ability-shape-space {
    background-color: whitesmoke;
}

.active-ability-shape {
    background-color: lightgreen;
}

.ability-shape-space-used {
    background-color: grey;
}

.dice-text {
    margin-bottom: 3px;
}


@media only screen and (max-width: 992px) {

    #right-panel {
        padding-top: 7px;
    }

    #tutorial-div {
        /* width: 80%;
        height: 80%; */
        max-width: 600px;
        margin-left: 50px;
        padding: 30px;
        border-radius: 5px;
    }
    
    #bone {
        width: 150px;
    }
    
    .background-image {
        width: 390px;
        height: 330px;
    }
    
    .evidence-image {
        width: 19px;
        height: 19px;
        margin-right: 9px;
    }
    
    .ability {
        margin-bottom: 5px;
        margin-left: 5px;
    }
    
    .space {
        height: 17px;
        width: 17px;
        margin: 1px;
        font-size: small;
        line-height: 17px;
        border-radius: 2px;
    }
    
    .annotations-in-abilities {
        line-height: 17px;
        font-size: 12px;
        text-align: center;
    }
    
    .shape-picker {
        width: 61px;
        height: 61px;
        margin: 2px;
    }
    
    .shape-image {
        width: 61px;
        height: 61px;
    }
    
    #confirm-button {
        width: 83px;
    }
    
    #cancel-button {
        width: 83px;
    }
    
    #round-tracker {
        width: 83px;
    }
    
    .ability-space {
        height: 17px;
        width: 71px;
        margin: 2px;
        line-height: 17px;
    }
    
    .wild {
        height: 17px;
        width: 34px;
        margin: 2px;
        font-size: smaller;
        line-height: 17px;
        border-radius: 2px;
    }
    
    .reroll {
        height: 17px;
        width: 14px;
        margin: 2px;
        font-size: small;
        line-height: 17px;
        border-radius: 2px;
    }

    .ability-piece-1 {
        width: 29px;
        height: 29px;
    }
    
    .ability-piece-2 {
        width: 29px;
        height: 29px;
    }
    
    .ability-shape {
        height: 37px;
        width: 37px;
        margin: 2px;
        font-size: small;
        line-height: 17px;
        border-radius: 2px;
        padding: 3px;
    }

    .long-annotation {
        font-size: smaller;
    }

    .overlay-text {
        padding-top: 2px;
        padding-left: 2px;
        font-weight: normal;
        font-size: smaller;
    }
}

@media only screen and (max-width: 768px) {
    
    .background-image {
        width: 310px;
        height: 260px;
        padding-top: 10px;
    }

    #tutorial-div {
        max-width: 400px;
        margin-left: 30px;
        padding: 10px;
        border-radius: 2px;
    }
    
    .space {
        height: 13px;
        width: 13px;
        line-height: 13px;
    }
    
    #confirm-button {
        width: 60px;
    }
    
    #cancel-button {
        width: 60px;
    }
    
    #round-tracker {
        width: 60px;
    }
}

@media only screen and (max-width: 648px) {
    .right-section {
        max-width: 250px;
    }

    #right-panel {
        max-width: 250px;
    }
}

@media only screen and (max-width: 575px) {
    .right-section {
        max-width: 175px;
    }

    #right-panel {
        max-width: 175px;
    }
}

@media only screen and (max-width: 502px) {
    .right-section {
        max-width: 150px;
    }

    #right-panel {
        max-width: 150px;
    }
}

@media only screen and (max-width: 474px) {
    #size-warning {
        display: block;
    }
}