/* Remove padding and margin by default. */
* {
    padding: 0;
    margin: 0;
    border: none;
}

/* Establish style for all die and boxes. */
.space {
    height: 35px;
    width: 35px;
    float: left;
    margin: 3px;
    text-align: center;
    font-size: larger;
    font-weight: 700;
    line-height: 50px;
    background-color: whitesmoke;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    border-width: thin;
}

.contains-shape {
    background-color: black;
    border-color: black;
}

.empty {
    background: none;
    border: none;
}

.filled {
    background-color: grey;
    border-color: grey;
}

.clear {
    clear: both;
}

.hidden {
    display: none;
}

.background-image {
    width: 845px;
    height: 680px;
    position: absolute;
    z-index: -1;
}

#dice-area {
    margin-left: 15px;
    margin-top: 28px;
}

.shape-picker {
    width: 200px;
    height: 200px;
    float: left;
    box-sizing: border-box;
}

.shape-image {
    width: 200px;
    height: 200px;
}

.rotate-0 {
    rotate: 0deg;
}

.rotate-90 {
    rotate: 90deg;
}

.rotate-180 {
    rotate: 180deg;
}

.rotate-270 {
    rotate: 270deg;
}

.flip-0 {
    transform: scaleX(1);
}

.flip-1 {
    transform: scaleX(-1);
}

.shape-unavailable {
    border: 2px solid white;
}

.shape-available {
    border: 2px solid blue;
}

.shape-picked {
    border: 2px solid red;
}

#confirm-button {
    position: relative;
    left: 50px;
}

#cancel-button {
    position: relative;
    left: 50px;
    top: 30px;
}